.detail-page {
  .detail-wrapper {
    width: 100%;
    border-top: 2px solid #f9f9f9;
  }

  .detail-container {
    width: 900px;
    margin: 0 auto;

    .position {
      font-size: 12px;
      color: #666;
      line-height: 48px;
      border-bottom: 1px solid #4098cb;

      a {
        color: #4098cb;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .summary {
      width: 100%;

      > h2 {
        font-size: 18px;
        color: #333;
        line-height: 40px;
        font-weight: normal;
      }

      > p {
        line-height: 26px;

        span {
          display: inline-block;
        }

        .title {
          padding-left: 25px;
          font-size: 12px;
          color: #666;
          background: {
            repeat: no-repeat;
            position: left center;
          }
        }

        .content {
          font-size: 12px;
          color: #333;
        }

        &.addr .title {
          background-size: 12px 19px;
          background-image: url('../imgs/icon_addr.png');
        }

        &.time .title {
          background-size: 15px 15px;
          background-image: url('../imgs/icon_clock.png');
        }

        &.tel .title {
          background-size: 12px 19px;
          background-image: url('../imgs/icon_phone.png');
        }
      }

      .btn-buy {
        display: block;
        width: 120px;
        height: 34px;
        margin-top: 15px;
        font-size: 14px;
        line-height: 34px;
        text-align: center;
        color: #fff;
        background-color: #4098cb;

        &:hover {
          text-decoration: underline;
        }
      }

      .imgs {
        width: 100%;
        padding: 30px 0;

        li {
          float: left;
          width: 178px;
          height: 118px;
          margin-right: 10px;
          overflow: hidden;

          img {
            width: 100%;
          }
        }
      }
    }

    .section {
      width: 100%;
      padding-bottom: 20px;

      .title {
        padding-left: 10px;
        font-size: 14px;
        color: #4f4f4f;
        line-height: 28px;
        font-weight: bold;
        border-bottom: 1px solid #4098cb;
      }

      .content {
        width: 100%;

        .list-devices {
          width: 100%;

          li {
            float: left;
            width: 52px;
            margin: 15px 40px 0 8px;

            .img {
              width: 52px;
              height: 52px;
              overflow: hidden;

              img {
                width: 100%;
              }
            }

            .text {
              padding-top: 7px;
              font-size: 12px;
              line-height: 16px;
              text-align: center;
              color: #333;
            }
          }
        }

        .description {
          padding: 20px 10px;
          line-height: 18px;
          font-size: 12px;
          color: #333;
        }
      }
    }
  }
}
