.detail-page {
  .detail-wrapper {
    width: 100%;
    border-top: 2px solid #f9f9f9;
  }

  .detail-container {
    position: relative;
    width: 900px;
    margin: 0 auto;

    .qrcode {
      position: absolute;
      top: 62px;
      right: 0;
      width: 158px;
      height: 158px;
      border: 1px solid #fafafa;
      background-color: #fff;

      .text {
        padding: 10px;
        line-height: 18px;
        text-align: center;
        font-size: 12px;
        color: #333;
      }

      .img {
        width: 90px;
        height: 90px;
        margin: 0 auto;
        overflow: hidden;

        img {
          width: 100%;
        }
      }
    }

    .position {
      font-size: 12px;
      color: #666;
      line-height: 48px;
      border-bottom: 1px solid #4098cb;

      a {
        color: #4098cb;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .summary {
      width: 100%;

      > h2 {
        font-size: 18px;
        color: #333;
        line-height: 40px;
        font-weight: normal;
      }

      > p {
        line-height: 26px;

        span {
          display: inline-block;
        }

        .title {
          padding-left: 25px;
          font-size: 12px;
          color: #666;
          background: {
            repeat: no-repeat;
            position: left center;
          }
        }

        .content {
          font-size: 12px;
          color: #333;
        }

        &.addr .title {
          background-size: 12px 19px;
          background-image: url('../imgs/icon_addr.png');
        }

        &.tel .title {
          background-size: 12px 19px;
          background-image: url('../imgs/icon_phone.png');
        }
      }

      .join-club {
        display: block;
        width: 120px;
        height: 34px;
        margin-top: 15px;
        font-size: 14px;
        line-height: 34px;
        text-align: center;
        color: #fff;
        background-color: #4098cb;

        &:hover {
          text-decoration: underline;
        }
      }

      .imgs {
        width: 100%;
        padding: 30px 0;

        li {
          float: left;
          width: 178px;
          height: 118px;
          margin-right: 10px;
          overflow: hidden;

          img {
            width: 100%;
          }
        }
      }
    }

    .section {
      width: 100%;
      padding-bottom: 20px;

      .title {
        padding-left: 10px;
        font-size: 14px;
        color: #4f4f4f;
        line-height: 28px;
        font-weight: bold;
        border-bottom: 1px solid #4098cb;

        .more-activities {
          float: right;
          color: #4097ca;
          font-size: 12px;
          padding: 0 5px;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .content {
        width: 100%;

        .description {
          padding: 20px 10px;
          line-height: 18px;
          font-size: 12px;
          color: #333;
          text-indent: 2em;
        }

        .newly-activity {
          padding: 20px 10px;
          line-height: 18px;
          font-size: 12px;
          color: #333;

          dt {
            line-height: 34px;

            a {
              color: #4097ca;

              &:hover {
                text-decoration: underline;
              }
            }
          }

          dd {
            line-height: 28px;

            .act-title {
              display: inline-block;
              float: left;
              text-align: right;
              color: #666;
            }

            .act-content {
              display: inline-block;
              float: left;
              margin-left: 10px;

              span {
                color: #f66429;
              }
            }
          }
        }
      }
    }
  }
}
