.detail-page {
  .detail-wrapper {
    width: 100%;
    border-top: 1px solid #c0bebe;
  }

  .detail-container {
    position: relative;
    width: 900px;
    margin: 0 auto;

    .qrcode {
      position: absolute;
      top: 62px;
      right: 0;
      width: 158px;
      height: 158px;
      border: 1px solid #fafafa;
      background-color: #fff;

      .text {
        padding: 10px;
        line-height: 18px;
        text-align: center;
        font-size: 12px;
        color: #333;
      }

      .img {
        width: 90px;
        height: 90px;
        margin: 0 auto;
        overflow: hidden;

        img {
          width: 100%;
        }
      }
    }

    .position {
      font-size: 12px;
      color: #666;
      line-height: 48px;
      border-bottom: 1px solid #4097ca;

      a {
        color: #4097ca;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .summary {
      width: 100%;

      > h2 {
        font-size: 18px;
        color: #333;
        line-height: 40px;
        font-weight: normal;
      }

      > p {
        line-height: 26px;

        span {
          display: inline-block;
        }

        .title {
          padding-left: 25px;
          font-size: 12px;
          color: #666;
          background: {
            repeat: no-repeat;
            position: left center;
          }
        }

        .content {
          font-size: 12px;
          color: #333;
        }

        &.addr .title {
          background-size: 12px 19px;
          background-image: url('../imgs/icon_addr.png');
        }

        &.time .title {
          background-size: 15px 15px;
          background-image: url('../imgs/icon_clock.png');
        }

        &.tel .title {
          background-size: 12px 19px;
          background-image: url('../imgs/icon_phone.png');
        }
      }

      .btn-buy {
        display: block;
        position: relative;
        width: 120px;
        height: 34px;
        margin-top: 15px;

        > p {
          font-size: 14px;
          line-height: 34px;
          text-align: center;
          color: #fff;
          background-color: #4097ca;
          cursor: pointer;

          &:hover {
            background-color: #278ec1;
          }
        }

        .qrcode-container {
          display: none;
          position: absolute;
          left: 137px;
          top: -8px;
          z-index: 99;
          width: 180px;
          height: 160px;
          background-color: #fff;

          .triangle {
            display: block;
            position: absolute;
            top: 19px;
            left: -7px;
            width: 7px;
            height: 13px;
            background: {
              image: url('../imgs/icon_triangle_left.png');
              repeat: no-repeat;
              size: cover;
              position: center center;
            }
          }

          .btn-close {
            display: block;
            position: absolute;
            top: 0;
            right: -30px;
            width: 21px;
            height: 21px;
            background: {
              image: url('../imgs/icon_close.png');
              repeat: no-repeat;
              size: cover;
              position: center center;
            }
            cursor: pointer;
          }

          > p {
            font-size: 12px;
            line-height: 45px;
            text-align: center;
            color: #333;
          }

          .img {
            width: 90px;
            height: 90px;
            margin: 0 auto;
            overflow: hidden;

            img {
              width: 100%;
            }
          }
        }
      }

      .imgs {
        width: 100%;
        padding: 30px 0;

        li {
          float: left;
          width: 178px;
          height: 118px;
          margin-right: 10px;
          overflow: hidden;

          img {
            width: 100%;
          }
        }
      }
    }

    .section {
      width: 100%;
      padding-bottom: 20px;

      .title {
        padding-left: 10px;
        font-size: 14px;
        color: #4f4f4f;
        line-height: 28px;
        font-weight: bold;
        border-bottom: 1px solid #4097ca;
      }

      .content {
        width: 100%;

        .list-devices {
          width: 100%;

          li {
            float: left;
            width: 52px;
            margin: 15px 40px 0 8px;

            .img {
              width: 52px;
              height: 52px;
              overflow: hidden;

              img {
                width: 100%;
              }
            }

            .text {
              padding-top: 7px;
              font-size: 12px;
              line-height: 16px;
              text-align: center;
              color: #333;
            }
          }
        }

        .description {
          padding: 20px 10px;
          line-height: 18px;
          font-size: 12px;
          color: #333;
        }
      }
    }
  }
}
