.main-slider {
  width: 100%;

  .slider-wrapper {
    position: relative;
    width: 900px;
    height: 614px;
    margin: 0 auto;
  }

  .swiper-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1280px;
    height: 614px;
    margin-left: -640px;
  }

  .swiper-slide {
    display: block;
  }

  .swiper-pagination {
    position: relative;
    top: -215px;
    text-align: center;

    .swiper-pagination-switch {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 0 5px;
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.5);
      cursor: pointer;
    }

    .swiper-active-switch {
      background-color: rgba(255, 255, 255, 0.7);
    }
  }

  .btn-slide {
    display: none;
    position: absolute;
    top: 50%;
    z-index: 99;
    width: 49px;
    height: 49px;
    margin-top: -70px;
    background: {
      repeat: no-repeat;
      size: 49px 49px;
      position: center center;
    }

    &.prev-slide {
      left: -140px;
      background-image: url('../imgs/icon_slide_left.png');
    }
    &.next-slide {
      right: -140px;
      background-image: url('../imgs/icon_slide_right.png');
    }
  }

  &:hover .btn-slide {
    display: block;
  }

  .home-nav {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9990;
    width: 900px;
    height: 190px;

    li {
      display: block;
      position: relative;
      z-index: 9999;
      float: left;
      width: 180px;
      height: 190px;
      background-color: #4097ca;

      &:hover {
        background-color: #278ec1;
      }
    }
  }
}

.infomation-wrapper {
  position: relative;
  width: 900px;
  height: 622px;
  margin: 0 auto;

  .infomation {
    position: absolute;
    top: 0;
    width: 640px;
    height: 622px;

    .info-container {
      width: 450px;
      height: 542px;
      padding-top: 80px;

      .title {
        text-align: center;
        font-size: 16px;
        line-height: 36px;
        color: #fff;

        span {
          position: relative;
          display: inline-block;

          &:after {
            display: block;
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 14px;
            height: 2px;
            margin-left: -7px;
            background-color: #4097ca;
          }
        }
      }
    }
  }

  .info-left {
    left: -190px;
    background-color: #333;

    .info-container {
      margin-left: auto;
    }
  }

  .info-right {
    right: -190px;
    background: {
      image: url('../imgs/home_sports.jpg');
      repeat: no-repeat;
      size: cover;
      position: center center;
    }

    .info-container {
      margin-right: auto;
    }
  }
}

.cooperation-wrapper {
  width: 100%;
  height: 454px;
  background: {
    image: url('../imgs/home_cooperation.jpg');
    repeat: no-repeat;
    size: cover;
    position: center center;
  }

  .cooperation-container {
    width: 900px;
    margin: 0 auto;
    padding-top: 60px;

    .title {
      text-align: center;
      font-size: 16px;
      line-height: 36px;
      color: #fff;

      span {
        position: relative;
        display: inline-block;

        &:after {
          display: block;
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 14px;
          height: 2px;
          margin-left: -7px;
          background-color: #4097ca;
        }
      }
    }

    .lists {
      width: 100%;
      padding-top: 46px;

      .groups {
        float: left;
        width: 240px;

        &.groups-left,
        &.groups-center {
          margin-right: 90px;
        }

        .group {
          width: 238px;
          height: 50px;
          margin-bottom: 20px;
          border: 1px solid #fff;
          line-height: 50px;
          text-align: center;
          font-size: 14px;
          color: #fff;
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
}
