.join-wrapper {
  width: 100%;
  border-top: 1px solid #f5f5f5;

  .join-container {
    width: 900px;
    margin: 0 auto;

    > h2 {
      line-height: 48px;
      font-size: 14px;
      color: #4097ca;
      border-bottom: 1px solid #4097ca;
    }

    .form-wrapper {
      width: 400px;
      margin: 0 auto;
      padding: 100px 0 170px;

      .form-title {
        width: 360px;
        height: 36px;
        margin: 0 auto;
        line-height: 36px;
        text-align: center;
        font-size: 14px;
        color: #fff;
        background-color: #9fcbe4;
      }

      .join-form {
        width: 400px;
        padding-top: 44px;

        .group {
          width: 100%;
          margin-bottom: 20px;
          font-size: 12px;
          color: #333;
        }

        .title {
          display: inline-block;
          float: left;
          width: 50px;
          line-height: 37px;
          text-align: right;
        }

        input {
          display: inline-block;
          float: left;
          width: 290px;
          height: 35px;
          margin-left: 20px;
          padding-left: 10px;
          line-height: 35px;
          border: 1px solid #eaeaea;

          &:focus {
            border-color: #4097ca;
          }
        }

        .btn-join {
          display: block;
          width: 120px;
          height: 36px;
          margin: 30px auto 0;
          font-size: 14px;
          text-align: center;
          line-height: 36px;
          color: #fff;
          background-color: #4097ca;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
