/* reset begin */

body,
p,
h1,
h2,
h3,
ul,
dl,
dt,
dd,
input,
select,
textarea,
table {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  border: none;
  vertical-align: top;
}

a {
  color: #505050;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

/* reset end */

body {
  width: 100%;
  font-family: 'Microsoft Yahei';
  font-size: 14px;
  background-color: #fff;
}

input {
  border: none;
  outline: none;
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: #b4b4b4;
}

::-ms-input-placeholder {
  color: #b4b4b4;
}

::-moz-placeholder {
  color: #b4b4b4;
}

::-moz-placeholder {
  color: #b4b4b4;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  display: block;
  content: '';
  clear: both;
}

.vcenter {
  position: relative;
  height: 100%;
}

.vcenter-child {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: auto;
  display: table;
  text-align: center;
}

.layout {
  width: 100%;
  min-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.layout-header {
  width: 100%;
  background-color: #e9546b;
}

.layout-container {
  width: 100%;
  .page {
    width: 100%;
  }
}

.layout-footer {
  width: 100%;
}
