/* reset begin */

body,
p,
h1,
h2,
h3,
ul,
dl,
dt,
dd,
input,
select,
textarea,
table {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  border: none;
  vertical-align: top;
}

a {
  color: #505050;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

/* reset end */

body {
  width: 100%;
  font-family: 'Microsoft Yahei';
  font-size: 14 px;
  background-color: #fff;
}

input {
  border: none;
  outline: none;
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: #b4b4b4;
}

::-ms-input-placeholder {
  color: #b4b4b4;
}

::-moz-placeholder {
  color: #b4b4b4;
}

::-moz-placeholder {
  color: #b4b4b4;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  display: block;
  content: '';
  clear: both;
}

.vcenter {
  position: relative;
  height: 100%;
}

.vcenter-child {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: auto;
  display: table;
  text-align: center;
}

.layout {
  width: 100%;
  min-width: 900px;
  margin: 0 auto;
  overflow: hidden;
}

.layout-header {
  width: 100%;
  background-color: #fff;

  .container {
    width: 900px;
    margin: 0 auto;

    .logo {
      display: block;
      float: left;
      width: 150px;
      height: 40px;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    .nav {
      float: right;

      li {
        display: inline-block;
        position: relative;
        float: left;
        height: 40px;
        margin-left: 30px;
        padding: 0 4px;
        line-height: 40px;
        font-size: 12px;

        a {
          display: inline-block;
          color: #333;
        }

        &:after {
          display: block;
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          height: 2px;
          background-color: #4097ca;
          transition: width 0.3s ease-in-out;
        }

        &:hover,
        &.active {
          a {
            color: #4097ca;
          }

          &:after {
            width: 100%;
          }
        }
      }
    }
  }
}

.layout-container {
  width: 100%;
  .page {
    width: 100%;
  }
}

.layout-footer {
  width: 100%;

  .footer-body {
    width: 100%;
    background-color: #e9e9e9;

    .container {
      width: 900px;
      margin: 0 auto;
      padding: 35px 0;
    }

    .sitemap {
      float: left;
      width: 540px;
      border-right: 2px solid #fff;

      dl {
        float: left;
        width: 168px;
      }

      dt {
        position: relative;
        font-size: 14px;
        color: #333;
        line-height: 18px;
        padding-bottom: 12px;

        &::after {
          display: block;
          content: '';
          position: absolute;
          top: 21px;
          left: 2px;
          width: 12px;
          height: 2px;
          background-color: #4097ca;
        }
      }

      dd {
        font-size: 12px;
        line-height: 28px;
        color: #666;

        a {
          display: inline-block;
          position: relative;
          padding-left: 14px;
          color: #666;
          overflow: hidden;

          &:hover {
            color: #4097ca;
          }

          &::before {
            display: block;
            position: absolute;
            top: 9px;
            left: 2px;
            width: 5px;
            height: 9px;
            content: '';
            background: {
              image: url('../imgs/icon_arrow_right.png');
              repeat: no-repeat;
              size: cover;
            }
          }

          &:after {
            display: block;
            content: '';
            position: absolute;
            bottom: 0;
            left: 14px;
            width: 0%;
            height: 1px;
            background-color: #4097ca;
            transition: width 0.3s ease-in-out;
          }

          &:hover {
            &:after {
              width: 100%;
            }
          }
        }
      }
    }

    .cooperation {
      position: relative;
      float: left;
      margin-left: 30px;
      width: 140px;
      height: 170px;

      img {
        position: absolute;
        top: 50%;
        left: 0;
        width: 140px;
        height: 70px;
        margin-top: -35px;
      }
    }
  }

  .footer-copyright {
    width: 100%;
    background-color: #4097ca;

    .container {
      width: 900px;
      padding: 10px 0;
      margin: 0 auto;

      p {
        text-align: center;
        color: #fff;
        font-size: 12px;
        line-height: 16px;

        span {
          display: inline-block;
          margin: 0 5px;
        }
      }
    }
  }
}
