.list-page {
  .search-wrapper {
    width: 100%;
    background: {
      image: url('../imgs/search_bg_sports.jpg');
      repeat: no-repeat;
      size: cover;
      position: center center;
    }

    .search-container {
      position: relative;
      width: 900px;
      height: 254px;
      margin: 0 auto;

      .form-search {
        position: absolute;
        bottom: 54px;
        left: 50%;
        width: 606px;
        height: 42px;
        margin-left: -303px;
        font-size: 13px;

        .txt-search {
          float: left;
          width: 500px;
          height: 40px;
          padding-left: 10px;
          line-height: 40px;
          border: 1px solid rgba(255, 255, 255, 0.3);
          background-color: rgba(255, 255, 255, 0.2);
          color: #fff;
          border-right: 0;

          &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: #fff;
          }
          &::-moz-placeholder {
            /* Firefox 19+ */
            color: #fff;
          }
          &:-ms-input-placeholder {
            /* IE 10+ */
            color: #fff;
          }
          &:-moz-placeholder {
            /* Firefox 18- */
            color: #fff;
          }
        }

        .btn-search {
          display: block;
          float: left;
          width: 94px;
          height: 42px;
          line-height: 42px;
          text-align: center;
          color: #fff;
          background-color: #4097ca;

          span {
            display: inline-block;
            padding-left: 20px;
            background: {
              image: url('../imgs/icon_search.png');
              repeat: no-repeat;
              size: 18px 18px;
              position: left center;
            }
          }

          &:hover {
            background-color: #278ec1;
          }
        }
      }
    }
  }

  .results-container {
    width: 900px;
    min-height: 350px;
    padding: 30px 0;
    margin: 0 auto;

    &.no-sport {
      background: {
        image: url('../imgs/no_sport.png');
        repeat: no-repeat;
        size: 86px 170px;
        position: top center;
      }
    }
  }
}
