.list-page {
  .search-wrapper {
    width: 100%;
    background: {
      image: url('../images/search_bg_clubs.jpg');
      repeat: no-repeat;
      size: cover;
      position: center center;
    }

    .search-container {
      position: relative;
      width: 900px;
      height: 254px;
      margin: 0 auto;

      .form-search {
        position: absolute;
        bottom: 54px;
        left: 50%;
        width: 606px;
        height: 42px;
        margin-left: -303px;
        font-size: 13px;

        .txt-search {
          float: left;
          width: 500px;
          height: 40px;
          padding-left: 10px;
          line-height: 40px;
          border: 1px solid rgba(255, 255, 255, 0.3);
          background-color: rgba(255, 255, 255, 0.2);
          color: #fff;
          border-right: 0;

          &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: #fff;
          }
          &::-moz-placeholder {
            /* Firefox 19+ */
            color: #fff;
          }
          &:-ms-input-placeholder {
            /* IE 10+ */
            color: #fff;
          }
          &:-moz-placeholder {
            /* Firefox 18- */
            color: #fff;
          }
        }

        .btn-search {
          display: block;
          float: left;
          width: 94px;
          height: 42px;
          line-height: 42px;
          text-align: center;
          color: #fff;
          background-color: #4097ca;

          span {
            display: inline-block;
            padding-left: 20px;
            background: {
              image: url('../images/icon_search.png');
              repeat: no-repeat;
              size: 18px 18px;
              position: left center;
            }
          }

          &:hover {
            background-color: #278ec1;
          }
        }
      }
    }
  }

  .categories-wrapper {
    width: 100%;
    border-bottom: 2px solid #eee;

    .categories-container {
      width: 900px;
      margin: 0 auto;
      padding: 20px 0;

      .category {
        width: 100%;

        .title {
          float: left;
          width: 90px;
          line-height: 22px;
          text-align: right;
          font-size: 14px;
          color: #333;
        }

        .content {
          float: right;
          width: 800px;

          li {
            display: inline-block;
            float: left;
            padding: 0 7px;
            line-height: 22px;
            margin: 0 20px 10px 0;
            font-size: 12px;
            color: #666;
            cursor: pointer;

            &:hover,
            &.active {
              color: #fff;
              background-color: #4097ca;
            }

            &.active {
              cursor: default;
            }
          }
        }
      }
    }
  }

  .results-container {
    width: 900px;
    min-height: 350px;
    padding: 30px 0;
    margin: 0 auto;

    &.no-venue {
      background: {
        image: url('../images/no_venue.png');
        repeat: no-repeat;
        size: 88px 132px;
        position: top center;
      }
    }

    &.no-venue-result {
      background: {
        image: url('../images/no_venue_result.png');
        repeat: no-repeat;
        size: 190px 132px;
        position: top 30px center;
      }
    }

    .result-list {
      width: 100%;
    }

    .result-item {
      float: left;
      width: 154px;
      margin: 0 30px 15px 0;

      &:nth-of-type(5n + 5),
      &.last-column {
        margin-right: 0;
      }

      .img {
        display: block;
        width: 154px;
        height: 102px;

        img {
          width: 100%;
        }
      }

      .text {
        position: relative;
        display: block;
        width: 100%;
        padding-top: 12px;

        .name {
          font-size: 14px;
          line-height: 28px;
          color: #333;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        .location {
          padding-left: 12px;
          line-height: 12px;
          font-size: 10px;
          color: #949494;
          background: {
            image: url('../images/icon_location.png');
            repeat: no-repeat;
            size: 7px 11px;
            position: left center;
          }
        }
      }
    }

    .result-pager {
      width: 100%;
      padding-top: 36px;

      .pager-container {
        text-align: center;
        line-height: 16px;
        font-size: 10px;

        a,
        span {
          display: inline-block;
          padding: 0 5px;
          margin: 0 2px;
        }

        a {
          color: #919191;
          border: 1px solid #919191;

          &.current,
          &:hover {
            color: #fff;
            background-color: #4095c8;
            border-color: #4095c8;
          }

          &.first,
          &.last,
          &.previous,
          &.next {
            color: #4095c8;
            border-color: #4095c8;

            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
  }

  .no-results {
    width: 900px;
    min-height: 300px;
    padding: 80px 0 30px;
    margin: 0 auto;

    .img {
      width: 49px;
      height: 49px;
      margin: 0 auto;

      img {
        width: 100%;
      }
    }

    .text {
      padding: 20px 0;
      text-align: center;
      font-size: 14px;
      line-height: 30px;
      color: #666;
    }
  }
}
