.detail-page .detail-wrapper {
  width: 100%;
  border-top: 1px solid #c0bebe; }

.detail-page .detail-container {
  position: relative;
  width: 900px;
  margin: 0 auto; }
  .detail-page .detail-container .qrcode {
    position: absolute;
    top: 62px;
    right: 0;
    width: 158px;
    height: 158px;
    border: 1px solid #eee;
    background-color: #fff; }
    .detail-page .detail-container .qrcode .text {
      padding: 10px;
      line-height: 18px;
      text-align: center;
      font-size: 12px;
      color: #333; }
    .detail-page .detail-container .qrcode .img {
      width: 90px;
      height: 90px;
      margin: 0 auto;
      overflow: hidden; }
      .detail-page .detail-container .qrcode .img img {
        width: 100%; }
  .detail-page .detail-container .position {
    font-size: 12px;
    color: #666;
    line-height: 48px;
    border-bottom: 1px solid #4097ca; }
    .detail-page .detail-container .position a {
      color: #4097ca; }
      .detail-page .detail-container .position a:hover {
        text-decoration: underline; }
  .detail-page .detail-container .summary {
    width: 100%;
    min-height: 170px; }
    .detail-page .detail-container .summary > h2 {
      font-size: 18px;
      color: #333;
      line-height: 40px;
      font-weight: normal; }
    .detail-page .detail-container .summary .btn-buy {
      display: block;
      position: relative;
      width: 120px;
      height: 34px;
      margin-top: 15px; }
      .detail-page .detail-container .summary .btn-buy > p {
        font-size: 14px;
        line-height: 34px;
        text-align: center;
        color: #fff;
        background-color: #4097ca;
        cursor: pointer; }
        .detail-page .detail-container .summary .btn-buy > p:hover {
          background-color: #278ec1; }
      .detail-page .detail-container .summary .btn-buy .qrcode-container {
        display: none;
        position: absolute;
        left: 137px;
        top: -8px;
        z-index: 99;
        width: 180px;
        height: 160px;
        background-color: #fff; }
        .detail-page .detail-container .summary .btn-buy .qrcode-container .triangle {
          display: block;
          position: absolute;
          top: 19px;
          left: -7px;
          width: 7px;
          height: 13px;
          background-image: url("../images/icon_triangle_left.png");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center; }
        .detail-page .detail-container .summary .btn-buy .qrcode-container .btn-close {
          display: block;
          position: absolute;
          top: 0;
          right: -30px;
          width: 21px;
          height: 21px;
          background-image: url("../images/icon_close.png");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          cursor: pointer; }
        .detail-page .detail-container .summary .btn-buy .qrcode-container > p {
          font-size: 12px;
          line-height: 45px;
          text-align: center;
          color: #333; }
        .detail-page .detail-container .summary .btn-buy .qrcode-container .img {
          width: 90px;
          height: 90px;
          margin: 0 auto;
          overflow: hidden; }
          .detail-page .detail-container .summary .btn-buy .qrcode-container .img img {
            width: 100%; }
  .detail-page .detail-container .section {
    width: 100%;
    padding-bottom: 20px; }
    .detail-page .detail-container .section .title {
      padding-left: 10px;
      font-size: 14px;
      color: #4f4f4f;
      line-height: 28px;
      font-weight: bold;
      border-bottom: 1px solid #4097ca; }
    .detail-page .detail-container .section .content {
      width: 100%; }
      .detail-page .detail-container .section .content .description {
        padding: 20px 10px;
        line-height: 18px;
        font-size: 12px;
        color: #333; }
        .detail-page .detail-container .section .content .description li {
          line-height: 28px; }
          .detail-page .detail-container .section .content .description li.table {
            padding: 10px 0; }
          .detail-page .detail-container .section .content .description li .desc-title {
            display: inline-block;
            float: left;
            text-align: right;
            color: #666; }
          .detail-page .detail-container .section .content .description li .desc-content {
            display: inline-block;
            float: left;
            margin-left: 10px; }
            .detail-page .detail-container .section .content .description li .desc-content span {
              color: #f46429; }
            .detail-page .detail-container .section .content .description li .desc-content table,
            .detail-page .detail-container .section .content .description li .desc-content tr,
            .detail-page .detail-container .section .content .description li .desc-content td {
              border: 1px solid #e5e5e5;
              vertical-align: middle; }
            .detail-page .detail-container .section .content .description li .desc-content thead td {
              background-color: #e2e2e2; }
            .detail-page .detail-container .section .content .description li .desc-content .tt {
              width: 72px;
              line-height: 18px;
              text-align: center;
              vertical-align: middle; }
            .detail-page .detail-container .section .content .description li .desc-content .ctt {
              width: 266px;
              line-height: 18px;
              padding-left: 20px; }
            .detail-page .detail-container .section .content .description li .desc-content .ctt1,
            .detail-page .detail-container .section .content .description li .desc-content .ctt2,
            .detail-page .detail-container .section .content .description li .desc-content .ctt3 {
              width: 94px;
              line-height: 18px;
              text-align: center; }
              .detail-page .detail-container .section .content .description li .desc-content .ctt1 table,
              .detail-page .detail-container .section .content .description li .desc-content .ctt1 tr,
              .detail-page .detail-container .section .content .description li .desc-content .ctt1 td,
              .detail-page .detail-container .section .content .description li .desc-content .ctt2 table,
              .detail-page .detail-container .section .content .description li .desc-content .ctt2 tr,
              .detail-page .detail-container .section .content .description li .desc-content .ctt2 td,
              .detail-page .detail-container .section .content .description li .desc-content .ctt3 table,
              .detail-page .detail-container .section .content .description li .desc-content .ctt3 tr,
              .detail-page .detail-container .section .content .description li .desc-content .ctt3 td {
                width: 100%;
                border-collapse: collapse;
                border: none;
                padding: 0;
                margin: 0; }
              .detail-page .detail-container .section .content .description li .desc-content .ctt1 tr,
              .detail-page .detail-container .section .content .description li .desc-content .ctt2 tr,
              .detail-page .detail-container .section .content .description li .desc-content .ctt3 tr {
                border-bottom: 1px solid #e5e5e5; }
                .detail-page .detail-container .section .content .description li .desc-content .ctt1 tr.last, .detail-page .detail-container .section .content .description li .desc-content .ctt1 tr:last-of-type,
                .detail-page .detail-container .section .content .description li .desc-content .ctt2 tr.last,
                .detail-page .detail-container .section .content .description li .desc-content .ctt2 tr:last-of-type,
                .detail-page .detail-container .section .content .description li .desc-content .ctt3 tr.last,
                .detail-page .detail-container .section .content .description li .desc-content .ctt3 tr:last-of-type {
                  border-bottom: none; }

/*# sourceMappingURL=detail-game.css.map */
